<html>
<head>
  <title>Click Counter</title>
  <link rel="stylesheet" href="/styles.css">

</head>
<body>
  <div>
    Click Count: <%= clickCount %>
</div>
<div>
  Clicks per second: <%= clickMultiplier %>
</div>

    <div>
        Click Multiplier: <%= clickMultiplier %>
    </div>
    
    <div>
  <div>Option 1 Count: <%= option1Votes %></div>
    <div>Option 2 Count: <%= option2Votes %></div>

    <div>
        Winner of most recent vote: <%= winningOption %>
    </div>
</div>


</body>
</html>

